# Instructions

For the second part of the assignment tonight, we're going to get a little bit of practice with `Pandas`. We'll ask that you do a couple of different things using the new tools that we learned about (methods for combining data sets, `pd.cut`, and `pivot tables`).

# Assignment Questions

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these). 

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.  
   
   
4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity. 

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this. 
 
6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

wine_red_df = pd.read_csv('./intro_pandas/data/winequality-red.csv', delimiter=';')
wine_white_df = pd.read_csv('./intro_pandas/data/winequality-white.csv', delimiter = ';')

In [11]:
wine_white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
wine_red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [14]:
wine_white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.2 KB

In [18]:
print(wine_red_df.mean()['alcohol'])
print(wine_white_df.mean()['alcohol'])

10.4229831144
10.5142670478

In [32]:
high_alch_red_df = (wine_red_df['alcohol'] > wine_red_df.mean()['alcohol'])
high_alch_white_df = wine_white_df['alcohol'] > wine_white_df.mean()['alcohol']

0    False
1    False
2    False
3    False
4    False
Name: alcohol, dtype: bool

In [52]:
joined_red_df = wine_red_df.join(high_alch_red_df, rsuffix='_high')
joined_white_df = wine_white_df.join(high_alch_white_df, rsuffix='_high')
joined_red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [35]:
joined_red_df2 = pd.concat([wine_red_df,high_alch_red_df], axis = 1)
joined_red_df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [58]:
joined_red_df[joined_red_df['alcohol_high'] == False]
joined_white_df[joined_white_df['alcohol_high'] == False]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high
0,7.0,0.270,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.800000,6,False
1,6.3,0.300,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,0.49,9.500000,6,False
2,8.1,0.280,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.100000,6,False
3,7.2,0.230,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.900000,6,False
4,7.2,0.230,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.900000,6,False
5,8.1,0.280,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.100000,6,False
6,6.2,0.320,0.16,7.00,0.045,30.0,136.0,0.99490,3.18,0.47,9.600000,6,False
7,7.0,0.270,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.800000,6,False
8,6.3,0.300,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,0.49,9.500000,6,False
11,8.6,0.230,0.40,4.20,0.035,17.0,109.0,0.99470,3.14,0.53,9.700000,5,False
14,8.3,0.420,0.62,19.25,0.040,41.0,172.0,1.00020,2.98,0.67,9.700000,5,False
16,6.3,0.480,0.04,1.10,0.046,30.0,99.0,0.99280,3.24,0.36,9.600000,6,False
19,6.5,0.310,0.14,7.50,0.044,34.0,133.0,0.99550,3.22,0.50,9.500000,5,False
22,6.8,0.260,0.42,1.70,0.049,41.0,122.0,0.99300,3.47,0.48,10.500000,8,False
23,7.6,0.670,0.14,1.50,0.074,25.0,168.0,0.99370,3.05,0.51,9.300000,5,False
24,6.6,0.270,0.41,1.30,0.052,16.0,142.0,0.99510,3.42,0.47,10.000000,6,False
25,7.0,0.250,0.32,9.00,0.046,56.0,245.0,0.99550,3.25,0.50,10.400000,6,False
26,6.9,0.240,0.35,1.00,0.052,35.0,146.0,0.99300,3.45,0.44,10.000000,6,False
27,7.0,0.280,0.39,8.70,0.051,32.0,141.0,0.99610,3.38,0.53,10.500000,6,False
30,8.5,0.240,0.39,10.40,0.044,20.0,142.0,0.99740,3.20,0.53,10.000000,6,False
31,8.3,0.140,0.34,1.10,0.042,7.0,47.0,0.99340,3.47,0.40,10.200000,6,False
33,6.2,0.120,0.34,1.50,0.045,43.0,117.0,0.99390,3.42,0.51,9.000000,6,False
34,5.8,0.270,0.20,14.95,0.044,22.0,179.0,0.99620,3.37,0.37,10.200000,5,False
36,6.5,0.390,0.23,5.40,0.051,25.0,149.0,0.99340,3.24,0.35,10.000000,5,False
38,7.3,0.240,0.39,17.95,0.057,45.0,149.0,0.99990,3.21,0.36,8.600000,5,False
39,7.3,0.240,0.39,17.95,0.057,45.0,149.0,0.99990,3.21,0.36,8.600000,5,False
40,6.7,0.230,0.39,2.50,0.172,63.0,158.0,0.99370,3.11,0.36,9.400000,6,False
41,6.7,0.240,0.39,2.90,0.173,63.0,157.0,0.99370,3.10,0.34,9.400000,6,False
42,7.0,0.310,0.26,7.40,0.069,28.0,160.0,0.99540,3.13,0.46,9.800000,6,False
43,6.6,0.240,0.27,1.40,0.057,33.0,152.0,0.99340,3.22,0.56,9.500000,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4810,5.4,0.375,0.40,3.30,0.054,29.0,147.0,0.99482,3.42,0.52,9.100000,5,False
4813,5.8,0.360,0.50,1.00,0.127,63.0,178.0,0.99212,3.10,0.45,9.700000,5,False
4820,5.8,0.360,0.50,1.00,0.127,63.0,178.0,0.99212,3.10,0.45,9.700000,5,False
4824,6.4,0.230,0.35,10.30,0.042,54.0,140.0,0.99670,3.23,0.47,9.200000,5,False
4828,6.4,0.230,0.35,10.30,0.042,54.0,140.0,0.99670,3.23,0.47,9.200000,5,False
4831,5.8,0.380,0.26,1.10,0.058,20.0,140.0,0.99271,3.27,0.43,9.700000,6,False
4836,6.7,0.500,0.36,11.50,0.096,18.0,92.0,0.99642,3.11,0.49,9.600000,5,False
4845,6.6,0.380,0.29,2.40,0.136,15.0,93.0,0.99336,3.18,0.60,9.500000,5,False
4849,6.4,0.330,0.44,8.90,0.055,52.0,164.0,0.99488,3.10,0.48,9.600000,5,False
4851,6.4,0.330,0.44,8.90,0.055,52.0,164.0,0.99488,3.10,0.48,9.600000,5,False
4855,7.1,0.230,0.39,13.70,0.058,26.0,172.0,0.99755,2.90,0.46,9.000000,6,False
4856,7.1,0.230,0.39,13.70,0.058,26.0,172.0,0.99755,2.90,0.46,9.000000,6,False
4858,6.4,0.350,0.51,7.80,0.055,53.0,177.0,0.99502,3.12,0.45,9.600000,5,False
4864,6.0,0.410,0.23,1.10,0.066,22.0,148.0,0.99266,3.30,0.47,9.633333,5,False
4869,6.6,0.240,0.33,10.10,0.032,8.0,81.0,0.99626,3.19,0.51,9.800000,6,False
4872,6.0,0.420,0.41,12.40,0.032,50.0,179.0,0.99622,3.14,0.60,9.700000,5,False
4874,5.6,0.200,0.36,2.50,0.048,16.0,125.0,0.99282,3.49,0.49,10.000000,6,False
4875,7.4,0.220,0.26,1.20,0.035,18.0,97.0,0.99245,3.12,0.41,9.700000,6,False
4877,5.9,0.540,0.00,0.80,0.032,12.0,82.0,0.99286,3.25,0.36,8.800000,5,False
4878,6.2,0.530,0.02,0.90,0.035,6.0,81.0,0.99234,3.24,0.35,9.500000,4,False
4879,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6,False
4880,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6,False
4881,5.0,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.400000,6,False
4884,6.5,0.330,0.38,8.30,0.048,68.0,174.0,0.99492,3.14,0.50,9.600000,5,False
4885,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.550000,6,False
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.200000,5,False
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.400000,6,False
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.700000,5,False
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.600000,5,False
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.400000,6,False

In [73]:
acid_bin = pd.cut(wine_red_df['fixed acidity'], 5)
red_acid = wine_red_df.join(acid_bin, rsuffix='_bin')
red_acid.head()
acid_bin_w = pd.cut(wine_white_df['fixed acidity'], 5)
white_acid = wine_white_df.join(acid_bin_w, rsuffix='_bin')
white_acid.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed acidity_bin
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,"(5.88, 7.96]"
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,"(5.88, 7.96]"
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,"(7.96, 10.04]"
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,"(5.88, 7.96]"
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,"(5.88, 7.96]"

In [88]:
red_acid_2 = red_acid[red_acid['fixed acidity_bin'] != red_acid['fixed acidity_bin'].max()]
white_acid_2 = white_acid[white_acid['fixed acidity_bin'] != white_acid['fixed acidity_bin'].max()]

In [90]:
pd.pivot_table(joined_red_df, values='alcohol', index='quality', columns='alcohol_high')

alcohol_high     False      True
quality
3             9.564286  10.866667
4             9.640909  11.295000
5             9.600276  11.088686
6             9.736524  11.437214
7             9.922222  11.708236
8             9.900000  12.368750

In [91]:
pd.pivot_table(joined_white_df, values='alcohol', index='quality', columns='alcohol_high')

alcohol_high      False      True
quality
3              9.558333  11.525000
4              9.636638  11.425532
5              9.481132  11.211099
6              9.679489  11.604366
7              9.666667  11.924761
8              9.469697  12.139437
9             10.400000  12.625000

In [96]:
pd.pivot_table(red_acid, values='alcohol', index='quality', columns='fixed acidity_bin')

fixed acidity_bin,"(4.589, 6.86]","(6.86, 9.12]","(9.12, 11.38]","(11.38, 13.64]","(13.64, 15.9]"
quality,,,,,
3,9.875000,10.500000,9.150000,9.000000,NaN
4,11.006667,9.981667,9.920000,9.966667,NaN
5,10.304245,9.773727,9.846429,10.229630,12.050000
6,11.223529,10.431985,10.687395,10.480952,10.240000
7,12.195402,11.486413,11.383333,10.809524,9.866667
8,13.633333,11.937500,11.916667,9.800000,NaN